@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');

/* base styles */
body {
  font-family: 'Fruktur';
  text-shadow: 4px 0 0 black, 0 -4px 0 black, 0 4px 0 black, -4px 0 0 black;
  margin: 0;
  font-size: 1.8em;
  text-align: center;
  background: #32174d;
  color: floralwhite;
}
